<h1>Students </h1>

<h5>Contact Info: <%= @student.contact %> </h5>

<h5>Education: <%= @student.education %> </h5> 

<h5>Work Experience: <%= @student.work_experience %> </h5> 

<h5>Skills: <%= @student.skills %> </h5> 

<h5>Capstone link: <%= @student.capstone_link %> </h5> 

<h5>Capstone description: <%= @student.capstone_description %> </h5> 

<h5>Capstone Screenshot: <%= @student.capstone_screentshot %> </h5> 


